.aboutUs {

  &-container{
    @include flex;
    flex-direction: row;
    background-color: $color-background;
  }

  &-content {
    @include flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    padding: 0 150px;
    @media (max-width: 1300px) {
      padding: 0 100px;
    }

    &-title {
      @include fontSizeTitle;
      margin-bottom: 25px;
    }

    &-text {
      margin: 60px 0 40px 0;
      line-height: 2em;
    }
    img{
      width: 200px;
      height: 150px;
      align-self: flex-end;
      @media (max-width: 1300px) {
        width: 125px;
        height: 75px;
      }
    }
  }

  &-img {
    width: 50%;
    height: 100%;
  }
}