.aboutUs {
  @include flex;

  &-content {
    @include flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    padding: 0 150px;
    background-color: $color-background;

    &-title {
      @include fontSizeTitle;
      margin-bottom: 25px;
    }

    &-text {
      margin: 60px 0 40px 0;
      line-height: 2em;
    }
  }

  img {
    width: 50%;
  }
}